

<!--// Includes-->
<!--include languaje-->

<!--//- Insert Global Components-->


<!--//- Include Global Libraries-->
<!--include svg_library-->

<!--//- Insert Global Pluggins-->
<!--+multilingual()-->



//- :::  End Footer Content ::: -//

<!-- Footer  -->
<nav class="panel bottom relative">
    <div class="sections desktop">

        <div class="left">
            <a href="#" title="Slides Framework"><svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">El Embeleco</p>
            </a>
        </div>

        <div class="center">
            <ul class="menu uppercase">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>

            </ul>
        </div>
        <div class="right">
            <ul class="menu crop">

                <li>Nuestras redes sociales</li>

                <li><a href="http://facebook.com/elembelecosanmiguel" target="_blank"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#facebook"></use></svg></a></li>
                <li><a href="http://instagram.com/_elembeleco" target="_blank"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#instagram2"></use></svg></a></li>
            </ul>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            <a href="#" title="Slides Framework"><svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">El Embeleco</p>
            </a>
        </div>
        <div class="right">
            <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
        </div>
    </div>
</nav>

</body>
</html>
