<!-- Barra de progreso de carga -->
<div class="progress-bar pink relative"></div>

<nav class="panel top relative">
    <div class="sections desktop">
        <div class="left">
            <a href="#" title="Slides Framework"><svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">El Embeleco</p>
            </a>
        </div>
        <div class="center">
            <ul class="menu uppercase">
                <li><a href="#">Tortas a pedido</a></li>
                <li><a href="#">Cafeteras</a></li>
                <li><a href="#">Suscripciones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            <a href="#" title="Slides Framework"><svg class="noFill middle" width="30" height="30"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="crop margin-left-1 inlineBlock middle">Coffee Roasters</p>
            </a>
        </div>

        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
</nav>